:root {
    --color-border-gray:  #CDD2DD;
    --color-white: #FFFFFF;
    --color-white-dark: #F0F5F5;

    --color-main: #08D899;
    --color-main-light: #B2F1DE;
    --color-main-dark: #00B780;
    --color-main-shadow: rgba(8, 216, 153, 0.2);
    --color-gray: #676767;
    --color-gray-light: #959596;
}